[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-apscheduler = "*"
flask-migrate = "*"
flask-login = "*"
flask-reuploaded = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pymysql = "*"
psutil = "*"
flask-mail = "*"
pillow = "*"
cryptography = "*"
validators = "*"
python-dotenv = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.8"
