<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="/static/admin/component/pear/css/pear.css" rel="stylesheet"/>
    <link href="/static/admin/admin/css/other/error.css" rel="stylesheet"/>
</head>
<body>
<div class="content">
    <img src="/static/admin/admin/images/500.svg" alt="">
    <div class="content-r">
        <h1>429</h1>
        <p>你已触碰到了我的底线，不要在访问了，把你ip封了</p>
        <a href="/" class="pear-btn pear-btn-primary">回到首页</a>
    </div>
</div>
</body>
</html>
