<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <!-- 样 式 文 件 -->
    <link rel="stylesheet" href="/static/component/pear/css/pear.css"/>
    <link rel="stylesheet" href="/static/admin/css/other/login.css"/>
</head>
<!-- 代 码 结 构 -->
<body background="/static/admin/images/background.svg" style="background-size: cover;">
<form class="layui-form" action="javascript:void(0);">
    <div class="layui-form-item">
        <img class="logo" src="/static/admin/images/logo.png"/>
        <div class="title">Pear Admin</div>
        <div class="desc">
            明 湖 区 最 具 影 响 力 的 设 计 规 范 之 一
        </div>
    </div>
    <div class="layui-form-item">
        <input type="text" name="nickname" value="admin" placeholder="账 户 : admin " lay-verify="required" hover class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input type="password" name="password" value="123456" placeholder="密 码 : 123456 " lay-verify="required" hover class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input name="captcha_code" placeholder="验证码 : " hover lay-verify="required" class="code layui-input layui-input-inline" lay-verify="captcha_code"/>
        <img src="/static/admin/images/captcha.gif" class="codeImage"/>
    </div>
    <div class="layui-form-item">
        <input type="checkbox" name="" title="记住密码" lay-skin="primary" checked>
    </div>
    <div class="layui-form-item">
        <button type="button" class="pear-btn pear-btn-success login" lay-submit lay-filter="login">
            登 入
        </button>
    </div>
</form>
<!-- 资 源 引 入 -->
<script src="/static/component/layui/layui.js"></script>
<script src="/static/component/pear/pear.js"></script>
<script src="/static/js/pear_admin_flask.js"></script>

<script>
  layui.use(['form', 'button', 'popup'], function() {
    var form = layui.form;
    var button = layui.button;
    var popup = layui.popup;

    var $ = layui.$;
    let imageCodeId = '';
    let captchaPath = '/login/captcha';

    /// 验证登录验证
    form.verify({
      username: function(value, item) { //value：表单的值、item：表单的DOM对象
        if (!new RegExp('^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$').test(value)) {
          return '用户名不能有特殊字符';
        }
        if (/(^\_)|(\__)|(\_+$)/.test(value)) {
          return '用户名首尾不能出现下划线\'_\'';
        }
        if (/^\d+\d+\d$/.test(value)) {
          return '用户名不能全为数字';
        }
      }
      , password: [
        /^[\S]{6,12}$/
        , '密码必须6到12位，且不能出现空格',
      ]
      , captcha_code: [
        /^[\S]{4}$/
        , '验证码必须4位，且不能出现空格',
      ],
    });

    // 登 录 提 交
    form.on('submit(login)', async function(form) {

      /// 登录 do something
      let data = Object.assign({'image_code': imageCodeId}, form.field);
      const res_data = await login(data);

      if (res_data.meta.status === 'success') {
        localStorage.setItem('jwt', res_data.result.access_token);

        /// 动画
        button.load({
          elem: '.login',
          time: 1500,
          done: function() {
            popup.success('登录成功', function() {
              location.href = '/';
            });
          },
        });
      } else {
        layui.layer.msg(res_data.meta.message);
      }
      return false;
    });

    // 点击按钮更新验证码
    $('.codeImage').click(function() {
      // 浏览器要发起图片验证码请求/image_code?imageCodeId=xxxxx
      update_captcha_image();
    });

    function update_captcha_image() {
      imageCodeId = generateUUID();
      document.querySelector('.codeImage').src = captchaPath + '?image_code=' + imageCodeId;
    }

    update_captcha_image();

    // 定时器，定时更新验证码
    setInterval(function() {
      document.querySelector('.codeImage').src = captchaPath + '?' + Math.random();
    }, 60 * 1000);
  });
</script>
</body>
</html>