<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <title>权限管理</title>
    <link rel="stylesheet" href="/static/component/pear/css/pear.css">
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline"><label class=layui-form-label>用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">
        <table id="permission-table" lay-filter="permission-table"></table>
    </div>
</div>


<script type="text/html" id="power-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
    <button class="pear-btn pear-btn-success pear-btn-md" lay-event="expandAll">
        <i class="layui-icon layui-icon-spread-left"></i>
        展开
    </button>
    <button class="pear-btn pear-btn-success pear-btn-md" lay-event="foldAll">
        <i class="layui-icon layui-icon-shrink-right"></i>
        折叠
    </button>
</script>


<script type="text/html" id="power-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script type="text/html" id="power-type">
    {{ "{{#if (d.permission_type == 'path') { }}" | safe }}
    <span>目录</span>
    {{ "{{# }else if(d.permission_type == 'menu'){ }}" | safe }}
    <span>菜单</span>
    {{ "{{# }else if(d.permission_type == 'auth'){ }}" | safe }}
    <span>权限</span>
    {{ "{{# } }}" | safe }}
</script>

<script type="text/html" id="power-enable">
    {{ '<input type="checkbox" name="enable" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="permission-enable"  {{ d.status == true ? "checked" : "" }} />' | safe }}
</script>


<script type="text/html" id="icon">
    {{ '<i class="layui-icon {{d.icon}}"></i>' | safe }}
</script>

<script src="/static/component/layui/layui.js"></script>
<script src="/static/component/pear/pear.js"></script>
<script src="/static/js/pear_admin_flask.js"></script>
<script>
    layui.use(['table', 'form', 'jquery', 'treetable', 'popup'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let treetable = layui.treetable;
        let popup = layui.popup;

        window.render = function () {
            treetable.render({
                treeColIndex: 1,
                treeSpid: 0,
                treeIdName: 'id',
                treePidName: 'pid',
                skin: 'line',
                treeDefaultClose: true,
                toolbar: '#power-toolbar',
                elem: '#permission-table',
                url: '/api/private/v1/permission/?type=treetable',
                page: false,
                cols: [
                    [
                        {type: 'checkbox'},
                        {field: 'permission_name', minWidth: 200, title: '权限名称'},
                        {field: 'icon', title: '图标', templet: '#icon'},
                        {field: 'status', title: '是否可用', templet: '#power-enable'},
                        {field: 'permission_type', title: '权限类型', templet: '#power-type'},
                        {field: 'sort', title: '排序'},
                        {title: '操作', templet: '#power-bar', width: 150, align: 'center'},
                    ],
                ],
                parseData: function (res) { //res 即为原始返回的数据
                    let data = res.result.permission_list
                    data.unshift({"permission_id": 0, "permission_name": "顶级权限", "pid": -1})
                    return {
                        'code': res.meta.status === 'success' ? 0 : 1, //解析接口状态
                        'msg': res.meta.message, //解析提示文本
                        'count': res.result.total, //解析数据长度
                        'data': data, //解析数据列表
                    };
                },
            });
        };

        render();

        table.on('tool(permission-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }
        });

        table.on('toolbar(permission-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            } else if (obj.event === 'expandAll') {
                treetable.expandAll('#permission-table');
            } else if (obj.event === 'foldAll') {
                treetable.foldAll('#permission-table');
            }
        });

        form.on('switch(permission-enable)', function (obj) {
            let operate;
            if (obj.elem.checked) {
                operate = true;  /*启用*/
            } else {
                operate = false;  /*禁用*/
            }
            let loading = layer.load();

            enable_permission(this.value, {enable: operate}).then(function (ret) {
                layer.close(loading);
                if (ret.meta.status === 'success') {
                    popup.success(ret.meta.message)
                } else {
                    popup.failure(ret.meta.message)
                }
            });
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['50%', '80%'],
                content: '/permission/add',
            });
        };

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['50%', '80%'],
                content: `/permission/edit/${obj.data.id}`,
            });
        };

        window.remove = function (obj) {
            layer.confirm('确定要删除该权限', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();

                remove_permission(obj.data.id).then(function (ret) {
                    layer.close(loading);
                    if (ret.meta.status === 'success') {
                        popup.success(ret.meta.message, function () {
                            obj.del();
                        })
                    } else {
                        popup.failure(ret.meta.message)
                    }
                });
            });
        };

        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                popup.warning('未选中数据')
                return false;
            }
            let ids = '';
            for (let i = 0; i < data.length; i++) {
                ids += data[i].powerId + ',';
            }
            ids = ids.substr(0, ids.length - 1);
            layer.confirm('确定要删除这些权限', {
                icon: 3,
                title: '提示',
            }, function (index) {
                layer.close(index);
                popup.failure('暂不支持批量删除')
                /*
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + 'batchRemove/' + ids,
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            popup.success(result.meta.message, function () {
                                table.reload('user-table');
                            })
                        } else {
                            popup.failure(result.meta.message)
                        }
                    },
                });
                */
            });
        };

    });
</script>
</body>
</html>